NODE_ENV=development

# @public @type=url
SERVER_URL=http://localhost:3000

# @public @type=url
SUPABASE_URL=https://YOUR-PROJECT.supabase.co
# @public @type=string(minLength=1)
SUPABASE_ANON_KEY=your-anon-key
# @type=string
SOLANA_EXPLORER_CLUSTER=devnet
